{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Inmersion Musical App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<section class="min-h-screen flex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-md p-8 sm:p-10 lg:p-12 bg-white rounded-2xl shadow-xl">
        <div class="flex items-center gap-3 pb-4">
            <img src="{% static 'logo.png' %}" alt="Logo" class="w-12 h-12">
            <h1 class="text-2xl sm:text-3xl font-bold text-sky-900">Inmersión Musical</h1>
        </div>
        <p class="text-sm font-light text-gray-500 pb-8">Inicio de Sesión</p>
        <form method="post" action="{% url 'validarUsuario' %}" class="flex flex-col gap-6">
            {% csrf_token %}
            {% if form.errors %}
                <div class="bg-red-100 text-red-700 p-2 rounded-lg">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700 text-sky-900">Usuario</label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                            <path d="M22 7L13.03 12.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                        </svg>
                    </span>
                    {{ form.username }}
                </div>
            </div>
            
            <div>
                <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700 text-sky-900">Contraseña</label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400 pr-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                            <path d="M12 8v8"></path>
                            <path d="M8.5 14L15.5 10"></path>
                            <path d="M8.5 10L15.5 14"></path>
                        </svg>
                    </span>
                    {{ form.password }}
                </div>
            </div>

            <div>
                <label for="{{ form.tipoUsuario.id_for_label }}" class="block text-sm font-medium text-gray-700 text-sky-900">
                    Tipo de usuario
                </label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400 pr-5">
                        <!-- Nuevo SVG de usuario -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                  d="M12 14c4.418 0 8-1.79 8-4s-3.582-4-8-4-8 1.79-8 4 3.582 4 8 4zm0 0v6m-4-6a4 4 0 018 0" />
                        </svg>
                    </span>
                    {{ form.tipoUsuario }}
                </div>
            </div>
            
            
            <button type="submit" class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-3 transition duration-150 ease-in-out">
                Login
            </button>
        </form>
        <p class="text-sm text-gray-600 flex items-center gap-1 mt-5">
            Hola,
            <a href="#" class="font-medium text-blue-500 hover:text-blue-700 transition duration-200">
                ¿Olvidaste tu contraseña?
            </a>
        </p>
        
    </div>
</section>

</body>
</html>